.title{
    font-size: 45px;
    font-weight: 700;

    text-align: left;
}

.subtitle{
    font-size: 32px;
    font-weight: 300;

    margin-bottom: 2rem;
    text-align: left;
}

.introduction{
    font-size: 23px;
    font-weight: 400;

    margin-bottom: 1.8rem;
    text-align: left;
}

.frame{
    background-color: #A225D933;
    border: 1px solid #A225D9;
    border-radius: 10px;

    
    padding: 20px;
}

iframe{
    box-sizing: border-box;

    margin-bottom: 1.5rem;
}

.videoName{
    font-size: 19px;
    font-weight: 600;
}

.description{
    display: flex;
    justify-content: space-between;

    font-size: 19px;
    font-weight: 300;


    margin-top: 1.5rem;
    width: 60% ;
}