/* Estilos existentes */
.wrap {
    display: flex;
    justify-content: space-evenly;
    height: 100vh;
    align-items: center;
    margin-left: -25rem;
}

.logo {
    width: 1050px;
    display: block;
    margin-top: 6rem;
}

.form {
    margin-left: -25rem;
}

.form span {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 16px;
    padding-left: 0.9rem;
}

.form button {
    background-color: rgba(162, 37, 217, 0.2);
    border: 1px solid #E15CF3;
    border-radius: 30px;
    margin: 1rem 0;
    padding: 1rem;
    font-size: 18px;
    margin-bottom: 2rem;
    transition: background-color 0.3s;
    position: relative;
    overflow: hidden;
}

.form button:active {
    background-color: rgba(162, 37, 217, 0.4);
}

.form button::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 0.3) 60%, rgba(255, 255, 255, 0) 70%);
    transition: all 0.5s ease;
    transform: translate(-50%, -50%) scale(0);
    border-radius: 50%;
}

.form button:active::after {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
}

.form button:hover {
    background-color: rgba(162, 37, 217, 0.3);
    cursor: pointer; 
}


.link {
    text-decoration: none; /* Removendo o sublinhado */
    color: #E15CF3;
    text-align: end;
    font-size: 12px;
    transition: transform 0.3s; /* Adicionando uma transição de transformação para suavizar o efeito de zoom */
}
.backButton {
    text-decoration: none; /* Removendo o sublinhado */
    color: #E15CF3;
    text-align: end;
    font-size: 12px;
    transition: transform 0.3s; /* Adicionando uma transição de transformação para suavizar o efeito de zoom */
}

.link:hover,
.backButton:hover {
    color: #e15cf386;
  transform: scale(1.1); /* Aumentando o tamanho ao passar o mouse */
}

/* Efeito de cursor pulsante */
@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.2);
        opacity: 0.8;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.form button:hover {
    animation: pulse 0.5s infinite alternate;
}

